@font-face {
    font-family: "norse-bold";
    src: url(../Norse-Bold.otf) format("opentype");
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-size: 16px;
}

p {
    margin: 0;
}

.fondo {
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 55rem;
    height: 61rem;    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.contenedor {
    width: 55rem;
    height: 15rem;
    position: relative;

}

.contenedor__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    background-color: rgba(0, 0, 0, .3);
}

.contenedor__overlay p {
    font-family: "norse-bold";
    font-size: 6rem;
    color: white;

}

.logo-odin {
    width: 9rem;
}

.creditos p {
    color: white;
    font-weight: 100;
    
}



