@font-face {
    font-family: "norse-bold";
    src: url(../Norse-Bold.otf) format("opentype");
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-size: 16px;
}

p {
    margin: 0;
}

.container-main {
    display: flex;
}

.fondo {
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 55rem;
    height: 61rem;    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.contenedor {
    width: 55rem;
    height: 15rem;
    position: relative;

}

.contenedor__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    background-color: rgba(0, 0, 0, .3);

}

.contenedor__overlay p {
    font-family: "norse-bold";
    font-size: 6rem;
    color: white;
    

}

.logo-odin {
    width: 9rem;
}

.creditos p {
    color: white;
    font-weight: 100;
    margin-top: 20rem;
    
}


.contenedor-first {
    background-color: rgba(128, 128, 128, 0.098);
    padding: 6rem 6rem 3.7rem 3.5rem;
    width: 71.5rem;
}

.contenedor-first p {
    font-size: 2rem;
    font-weight: 600;
}

fieldset {
    border: none;
    margin: 2rem;
}

legend {
    font-size: 2.5rem;
    font-weight: 200;
    margin-bottom: 1rem;
}

label {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 1.2rem;
}

.controles-form {
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    gap: 6rem;
    margin-bottom: 1rem;
}

.section-boton {
    background-color: rgba(128, 128, 128, 0.098);
    height: 15.5rem;
}

button {
    padding: 0.5rem 3.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #596D48;
    margin: 2rem 2rem 0rem 2rem;
    color: white;
    cursor: pointer;

}
.section-last p {
    font-size: 1.5rem;
    margin: 2rem 2rem 0rem 2rem;
}

.section-last p span {
    color: rgb(7, 87, 7);
    cursor: pointer;
}

.password:invalid {
    border: 2px solid red;
}

.controles-formss:user-valid{
    border: 2px solid rgb(87, 115, 199);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3)

}



